<legend>Node Informations</legend>
<table class="neos-info-table">
    <tbody>
        <tr>
            <td>Identifier</td>
            <td><span class="neos-label">{node.identifier}</span></td>
        </tr>
        <tr>
            <td>Name</td>
            <td><span class="neos-label">{node.label}</span></td>
        </tr>
        <tr>
            <td>Node path</td>
            <td><span class="neos-label">{node.path}</span></td>
        </tr>
        <tr>
            <td>Nodetype</td>
            <td><span class="neos-label">{node.nodetype.name}</span></td>
        </tr>
    </tbody>
</table>